option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: splitter_django.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "splitter_django.wsgi:application"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  
container_commands:
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  # --------------------------------- end of new  ---------------------------------