{% load static %}
<form 
hx-post="{% url 'validate_keygen' %}"
hx-target="#ui_replacing"
hx-swap="innerHTML"
>
{% csrf_token %}
    <div class="top-label position-absolute start-50 translate-middle-x" 
    id="top_label"
    style="margin-top: 30px;"
    >ENTER YOUR LICENSE!</div>
    <img src="{% static 'Splitter_GUI_Assets_3/Rectangle Default.png' %}" class="position-relative"/>
    <input type="text" 
    class="input-with-background position-absolute position-absolute start-50 translate-middle-x"
    style="margin-top: 175px;"
    id="keygen_license" 
    name="keygen_license"
    placeholder="Please enter your license">
</form>